*.elc
*.m4f
*~
Makefile
autom4te
bin/autoconf
bin/autoheader
bin/autoreconf
bin/autoscan
bin/autoupdate
bin/ifnames
bootstrap.log
config.log
config.status
configure-output.log
doc/autoconf.info
doc/stamp-vti
doc/version.texi
elc-stamp
lib/autom4te.cfg
lib/autoscan/autoscan.list
lib/m4sugar/version.m4
make.log
make.log.err
tests/atconfig
tests/atlocal
tests/autoconf
tests/autoheader
tests/autoreconf
tests/autoscan
tests/autoupdate
tests/ifnames
